<html>
<head>
	<title>Template</title>
	<style>
		.title
		{
			color: #111111;
			font-family: Arial, Sans-serif;
			font-size: 18px;
		}
		
		.text
		{
			color: #333333;
			font-family: Arial, Sans-serif;
			font-size: 14px;
		}
	</style>
</head>

<body>
	<div class="title">Cool Sintel wallpapers!</div>
	<div class="text">And <a href="http://blender.org">Blender</a> is also awesome!</div>

	<table border="0">
		<tr>
			<td><img src="cid:sintel-wallpaper-dragon.jpg" width="40%" /></td>
			<td><img src="cid:sintel-wallpaper-ishtar.jpg" width="40%" /></td>
		</tr>
	</table>
	
	<div class="text">See ya around ;)</div>
</body>
</html>